vody{
     overflow: scroll;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

h4{
    color:white;
    padding-left: 20px;
}

img{
   width: 100px;
    height: 100px;
}

.column {
    float: left;
    padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}
 
 #add{
     padding-right: 15%;
 }

.center{
    padding-left: 30%;
    padding-right: 30%;
}


footer {
    padding-left: 15%;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
}

td{
    padding: 20px!important;
}

.root{
    margin-left:auto; 
    margin-right:auto;
}